.img-fluid{
    border-radius: 14px;
    width: 480px;
    height: 300px;
  
}
.col{
    margin: 15px 0;
}
.text{
    font-size: 1.25rem;
    font-weight: 500;
    letter-spacing: -1px;
    text-decoration: solid;
    margin: 0px;
    padding: 16px;
}
